
@font-face {
    font-family: 'latoblack';
    src: url('../../../includes/tipografias/lato_black.woff2') format('woff2'),
         url('../../../includes/tipografias/lato_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bd-color: #071d3d;
    --secon-bg-color: #2a303f;
    --big-font: 2.5rem;
    --normal-font:2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;
    --movisoft-logo-color: #000000;
    --movisoft-logoS-color: #0d47a1;
    --movisoft-logoO-color: #1565c0;
    --movisoft-logoF-color: #1976d2;
    --movisoft-logoT-color: #1e88e5;


    --font-neon-text-shadow: 0 0 10px rgba(18,247,255,0.3),
    0 0 20px rgba(18,247,255,0.3),
    0 0 30px rgba(18,247,255,0.3),
    0 0 40px rgba(18,247,255,0.3),
    0 0 70px rgba(18,247,255,0.3),
    0 0 80px rgba(18,247,255,0.3),
    0 0 100px rgba(18,247,255,0.3),
    0 0 150px rgba(18,247,255,0.3);
}

::-webkit-scrollbar{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track{
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb{
    background: var(--hover-color);
    border-radius: 5rem;
}



h1, h2, h3, h4{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

body{
    font-family: "Lato";
    background-color: var(--bd-color);
    color: var(--text-color);
    min-height: 100dvh;
}

header{
    position: -webkit-sticky; /* Soporte para Safari */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid transparent ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

header.scrolled {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Efecto de sombra para el sticky menu */
    transition: box-shadow 0.3s ease-in-out; /* Transición suave de la sombra */
    background: var(--bd-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 20px 10%;

}

.logo img{
    width: 14%;
    border-radius: 8px;
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
}

.navlist a:hover{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}

.navlist a.active{
    color: var(--hover-color);
}

#menu-icon{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section{
    padding: 100px 10%;
}

/* Estilos de la Sección Inicio */

.home{

    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
    will-change: transform; 
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: var(--big-font);
    font-weight: 700;
}

.eslogan{
    font-size: 1.1rem;
}

.change-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}

.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
}

.change-text h3 .word .letter{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind{
    transform: rotateX(-90deg);
}

.home-content p{
    color: #bdbdbd;
    line-height: 1.6;

}

.info-box{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 1rem 0 2rem;
}

.info-box h5{
    font-weight: 600;
    color: var(--text-color);
    font-size: 1rem;
}

.info-box span{
    font-size: .9rem;
    color: #bdbdbd;
}

.btn-box{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--hover-color);
    color: var(--bd-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    position: relative;overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}

.btn:hover{
    color: var(--hover-color);
}

.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bd-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover::before{
    width: 100%;
}

.btn:nth-child(2){
    background: var(--bd-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover{
    color: var(--bd-color);
}

.btn:nth-child(2)::before{
    background: var(--hover-color);
}

.social-icons{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: 220px;
    height: 40px;
}

.social-icons a{
    display: inline-flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var(--bd-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    border-radius: 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.social-icons a i{
    font-size: 1.5rem;
}

.social-icons a:hover{
    color: var(--bd-color);
}

.social-icons a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background: var(--hover-color);
    transition: .6s;
    z-index: -1;
}

.social-icons a:hover::before{
     width: 100%;
}

.home-image{
    position: relative;
}

.img-box{
    text-align: center;

}

.img-box img{
    width: 60%;
    max-width: 100%;
    height: auto;
}

.liquid-shape{
    position: absolute;
    width: 75%;
    height: 70%;
    z-index: -1;
    top:-12%;
    left: 110px;
}

.liquid-shape:nth-child(2){
    filter: blur(50px);
}

/* Estilos de la Sección About */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 4em;
    background: var(--secon-bg-color); 
    animation: parallax linear;
    animation-timeline: scroll();
    will-change: transform; 

}

.about .img-about{
    text-align: center;
    position: relative;
}

.about .img-about img{
    max-width: 350px;
    height: auto;
}

.about-content span{
    will-change: transform; 
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p{
    color: #fdfdfd;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

.info-about1,
.info-about2,
.info-about3 {
    background: var(--bd-color);
    font-size: .5rem;
    position: absolute;
    padding: 10px;
    width: 81px;
    height: 81px;
    border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    display: block;
    box-shadow: var(--neon-box-shadow);
    border: 1px solid var(--hover-color);
    outline: 2px solid var(--bd-color);
    z-index: 100;
    animation: morph 6s linear infinite;
}

.info-about1{
    left: 8%;
    top: 26%;
}

.info-about2{
    left: 74%;
    top: 15%;
}

.info-about3{
    left: 39%;
    top: 66%;
}

.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}

.img-about p{
    font-size: .6rem;
    color: var(--text-color);
}

/* Estilos de la Sección Servicios */
.servicios {
    display: flex;
    background-image: linear-gradient(
        to bottom right,
        #071d3d 0%,
        #092a5c 20%,
        #071d3d 40%,
        #153c77 60%,
        #071d3d 80%
    );
    background-size: 200% 200%;
    animation: movimiento 5s linear infinite alternate;
}
.main-text{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}
.main-text h1{
    font-weight: 700;
    font-size: var(--normal-font); 
}

.main-text span{
    letter-spacing: 1px;
}

.main-text p{
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 1.6;
}

.movisoftLogo{
   background-color: #fefefe;
   border-radius: 8px;
   padding: 4px;
}

.movisoftLogo .Movi{
    color: var(--movisoft-logo-color);
    font-weight: bold;
}

.movisoftLogo .S {
    color: var(--movisoft-logoS-color);
}

.movisoftLogo .o {
    color: var(--movisoft-logoO-color);
}

.movisoftLogo .f {
    color: var(--movisoft-logoF-color);
}

.movisoftLogo .t {
    color: var(--movisoft-logoT-color);
}

.section-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-service .service-box{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
    box-shadow: var(--neon-box-shadow);
}

.service-box h2{
    margin-top: 10px;
    font-size: 1.4rem;
}

.service-box p {
    margin: .5rem 0 1.5rem 0;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6;
}

.service-btn {
    width: auto;
    justify-content: center;
}

.service-box:hover{
    transform: translateY(-.7rem);

}

.service-icon{
    border: 2px solid var(--hover-color);
    padding: 1.5rem;
    background: var(--bd-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bd-color);

}

/* ----------Habilidades (Skills) CSS---------------------*/

.skills{
    background: var(--secon-bg-color);
}

.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 30px;
    column-gap: 50px;
}

.skill-bar{
    margin-bottom: 2.5rem;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bd-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .software{
    width: 78%;
    animation: software 2s;
}

.skill-bar .bar .mantenimiento{
    width: 92%;
    animation: mantenimiento 5s;
}

.skill-bar .bar .reparacion{
    width: 89%;
    animation: reparacion 4s ;
}

.skill-bar .bar .redes{
    width: 85%;
    animation: redes 3s;
}

/* ----------- Skill Right --------------*/

.professional{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.box{
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}

.box .text{
    text-align: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.box .text small{
    display: block;
    font-weight: 600;
}

.circle{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points{
    width: 2px;
    height: 10px;
    background-color: var(--bd-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

/* -----------Seccion Ofertas CSS ----------------- */

.main-text span{
    color: var(--text-color);
}

.fillter-buttons{
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .btn{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.fillter-buttons .btn:hover{
    color: var(--hover-color);
}

.ofertas-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px , 1fr));
    gap: 2rem;
}

.ofert-box{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
}

.ofert-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.ofert-image img{
    width: 100%;
    opacity: .5s;
    height: 100%;
    transition: .5s;
}

.ofert-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,.2),#12f7ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.5s;
    padding: 0 2rem;
}

.ofert-box:hover .ofert-content{
    opacity: 1;
}

.ofert-box:hover .ofert-image{
    transform: scale(1.1);
    transition: .5s;
}

.ofert-content h3{
    font-size: 1.5rem;
    font-weight: 600;
}

.ofert-content p{
    font-size: .8rem;
    margin: 5px 0 15px 0;
}

.ofert-content a{
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--hover-color);
    outline: 2px solid #fff;
}

.ofert-content a i{
    font-size: 1.3rem;
    color: var(--secon-bg-color);
}

/* ----------- Formulario de Contacto CSS ------------- */

.contacto{
    background: var(--secon-bg-color);
    width: 100%;
}

.contacto form{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contacto form textarea,
.contacto form input{
    width: 100%;
    color: var(--text-color);
    background: var(--bd-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contacto form textarea{
    resize: none;
}

.formBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

/* ------- Footer CSS --------- */

footer{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p{
    color: #bdbdbd;
}

footer a{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

footer a i{
    font-size: 1rem;
    color: var(--secon-bg-color);
}

/* ----------- Puntos de Ruptura ------------- */

@media (min-width: 1201px){
    section{
        max-width: 100%;
        margin: 0 auto;
    }
    header{
        display: flex;
        opacity: 1;
        position: -webkit-sticky; /* Soporte para Safari */
        position: sticky;
        top: 0;
    }
    .logo img{
        width: 120px;
        transition: margin 0.3s ease, width 0.3s ease;
    }
}

@media (max-width: 1200px){
    section{
        max-width: 100%;
        margin: 0 auto;
    }
    .logo img{
        width: 100px;
        transition: margin 0.3s ease, width 0.3s ease;
    }
    .change-text h3{
        font-size: 1.4rem;
    }

    .social-icons {
        margin-top: 4rem;
        transition: margin 0.3s ease, width 0.3s ease;
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
        transition: all .4s ease;
    }
    #menu-icon.bx-x{
        transform: rotate(-180deg);
    }
    .navlist{
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bd-color);
        text-align: left;
        padding: 0 7%;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .navlist.active{
        top: 100%;
    }
    .home{
        grid-template-columns: 1fr;
    }
    .about{
        flex-direction: column-reverse;
    }
    .skill-left h3{
        font-size: 1.3rem;
    }
    .skill-right h3{
        font-size: 1.3rem;
    }
    .skill-main{
        grid-template-columns: 1fr;
    }
    .fillter-buttons{
        margin: 2.5rem 0;
    }
    footer p{
        text-align: left;
        font-size: 1rem;
    }
   .main-text h1{
        font-size: 1.6rem;
   }
   .main-text span{
        padding: 1px;
   }

   .social-icons {
    margin-top: 4rem;
    transition: margin 0.3s ease, width 0.3s ease;
}

@media (max-width: 420px){
    html{
        font-size: 80%;
    }
    .home-content h1{
        font-size: 1.8rem;
    }
    .eslogan{
        font-size: 1.3rem;
    }
    .change-text h3{
        font-size: 1.1rem;
    }
    
    .info-box{
        display: none;
    }
    .home-content p{
        font-size: 1.1rem;
    }

    footer p{
        font-size: .7rem;
    }

    .fillter-buttons .btn{
        font-size: .8rem;
    }

    .img-about img{
        max-width: 100%;
        height: auto;
        width: 400px;
    }
    .social-icons {
        margin-top: 3rem;
        transition: margin 0.3s ease, width 0.3s ease;
    }
}















/* ----------KeyFrames---------------------------------- */

      /** Animando Bacground de Secciones **/

      @keyframes movimiento {
        from {
            background-position: 0% 0%;
    }
        to {
            background-position: 100% 100%;
    }
}

@keyframes morph{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; 
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }

    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}

@keyframes software{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

@keyframes mantenimiento{
    0%{
        width: 0%;
    }
    100%{
        width: 92%;
    }
}

@keyframes reparacion{
    0%{
        width: 0%;
    }
    100%{
        width: 89%;
    }
}

@keyframes redes{
    0%{
        width: 0%;
    }
    100%{
        width: 81%;
    }
}

@keyframes glow{
    0%{
        background: var(--bd-color);
        box-shadow: none;
    }
    100%{
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);

    }
}


